<ul>
  <% for(let person of people) { %> <% if (person.name === 'Deigo') { %>
  <li><%= 'Este es el fucking ' + person.name %></li>
  <% } else { %>
  <li><%= 'Este es el maldito ' + person.name %></li>
  <% } %> <%} %>
</ul>
