<% const animals = ["Cat", "Dog", "Lemur", "Hawk"] %>

<ul>
  <% animals.map((animal) => { %>
  <li><%= animal %>s are cute</li>
  <% }) %>
</ul>

<!-- navbar.ejs -->
<nav>
  <ul>
    <% for (let i = 0; i < links.length; i++) { %>
    <li>
      <a href="<%= links[i].href %>">
        <span> <%= links[i].text %> </span>
      </a>
    </li>
    <% } %>
  </ul>
</nav>

<!-- index.ejs -->
<ul>
  <% users.forEach((user) => { %> <%- include('users/user', {user: user}); %> <%
  }); %>
</ul>
